<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417186162606-ud8bmokuoib0ankitlp0mrv8is6l48dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417186162606-ud8bmokuoib0ankitlp0mrv8is6l48dj</string>
	<key>API_KEY</key>
	<string>AIzaSyC0k0mlN60xpHB8uXUEx__rCZq1qCzJ5fM</string>
	<key>GCM_SENDER_ID</key>
	<string>417186162606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devpatel.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b5986</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b5986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417186162606:ios:78927412e864f070d88a3f</string>
</dict>
</plist>